@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Smooch+Sans:wght@100..900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Smooch Sans', sans-serif;
  font-weight: 300;
}

:root {
  --bg-dark: #111;
  --prime: #ff4500;
  --line-color: #fffcfa;
  --car-size: 50px;
  --car-height: 100px;
  --font-main: 'Smooch Sans', sans-serif;
  --font-score: 'Concert One', sans-serif;
}

body {
  background-color: var(--bg-dark);
  /* color: #fff; */
  font-family: var(--font-main);
  overflow: hidden;
}

.score {
  height: 70px;
  background-color: #000;
  color: #fff;
  font-family: var(--font-score);
  font-size: 1.6rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #222;
  letter-spacing: 1px;
  text-transform: uppercase;
}